<%- include("templates/header.ejs") %>
        <h1 class="text-primary">Estas en info</h1>
        <% if (c!=0 && texto!="a"){ %>
            <div class="alert alert-primary"> <%= c %> </div>
            <div class="alert alert-success"> <%= texto %> </div>
        <%}%>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui rem fuga vel saepe, officia perferendis, a minima ad aperiam accusantium architecto veniam debitis harum aliquam sequi est tempore nemo delectus.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur iure ad eligendi cupiditate, adipisci veniam modi dolore quae at. Ipsum earum, id veniam eum ipsa corporis quasi pariatur ut saepe.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio quaerat eos odit alias est quia quod quam, beatae ullam, sunt iusto ex cumque tenetur veritatis consectetur, accusantium voluptate deleniti perferendis.
            Corporis ab dolor et debitis facere voluptates magni? Est voluptatibus quam blanditiis illo tenetur earum nostrum, consequuntur deleniti minus laboriosam, dignissimos possimus soluta unde, quidem officia nemo numquam. Nesciunt, libero?
            Tempore, ex nemo. Asperiores, accusamus voluptates. Recusandae tempore nostrum nemo voluptates quibusdam porro facere modi iure dicta, autem architecto necessitatibus consectetur provident voluptatum quis, perferendis cum eveniet. Consequatur, quasi at?
            Aperiam dolores fugit quia accusantium quis id aliquid qui officia nulla iure reiciendis quos velit unde, facere autem eaque asperiores. Repellendus molestiae officiis libero modi, soluta earum impedit aliquid ipsam?
            Voluptate facere quis aspernatur quidem officia sit aliquam et harum voluptas! Itaque praesentium ea molestias repudiandae a placeat necessitatibus, nobis eum quibusdam commodi sit eaque distinctio quaerat ipsam delectus et!
            Molestiae, odit non porro voluptatem possimus libero, explicabo tenetur harum error odio id incidunt qui cum, exercitationem neque repudiandae excepturi quam ratione maxime? Sed provident unde odio incidunt quibusdam magnam.
            Sunt harum voluptatibus ad nemo facilis quis eligendi minus tenetur, nam consequatur quidem soluta corrupti voluptatum incidunt nostrum deserunt veniam ducimus voluptas laborum tempore officia, distinctio quae suscipit? Dolor, dolorum.
            Velit reprehenderit neque, deserunt adipisci, culpa architecto dolor, consequatur fugit temporibus praesentium cumque sapiente? Doloremque doloribus, laboriosam voluptas adipisci deleniti, eligendi, tempore voluptate accusamus ratione magni unde mollitia omnis in?
            Aliquam repellat amet eligendi doloremque distinctio nisi commodi dolores incidunt, quibusdam facere debitis velit laborum molestiae dolor libero nemo. Ipsa fugiat dicta vel deleniti corporis eos, eaque odio enim repudiandae.
            Quidem ipsa est laboriosam. Praesentium, accusantium debitis! Repellat adipisci et ea cupiditate enim placeat vitae dolorem minus eos nemo modi non officiis, eum, iste repudiandae, maxime repellendus quos aut animi.
        </p>
<%- include("templates/footer.ejs") %>