<%- include ("templates/header.ejs", {titulo:"Contactanos"}) %>
<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Edad</th>
            <th>Editar / Borrar</th>
        </tr>
    </thead>
    <tbody>
        <% contactosBD.forEach(contacto) => { %>
            <tr>
            <td><%= contacto.nombre %></td>
            <td><%= contacto.edad %></td>
            <td>Editar / Borrar</td>
            </tr>
        <%} %>    
        
    </tbody>
</table>
<%- include ("templates/footer.ejs") %>